<section class="clients">
    <div class="container">
        <div class="clients__inner">

            <div class="section-header">
                <h2 class="section-title section-title--color_black">Great Integrations with Others</h2>
                <div class="section-subtitle">Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. 
                    Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. </div>
                <div class="design-element design-element--color_gray"></div>
            </div>
            <!-- /.section-header -->

            <div class="clients__content">
                <div class="clients__item">
                    <svg class="clients__icon">
                        <use xlink:href="#clients-1"></use>
                    </svg>
                </div>
                <!-- /.clients__item -->

                <div class="clients__item">
                    <svg class="clients__icon">
                        <use xlink:href="#clients-2"></use>
                    </svg>
                </div>
                <!-- /.clients__item -->

                <div class="clients__item">
                    <svg class="clients__icon">
                        <use xlink:href="#clients-3"></use>
                    </svg>
                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

                <div class="clients__item">

                </div>
                <!-- /.clients__item -->

            </div>
            <!-- /.clients__content -->

        </div>
        <!-- /.clients__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.clients -->