<section class="communication">
    <div class="container">
        <div class="communication__inner">

            <div class="section-header">
                <h2 class="section-title section-title--color_black">keep in touch</h2>
                <div class="section-subtitle">Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna
                    suscipit, dictum quam nec.</div>
                <div class="design-element design-element--color_gray"></div>
            </div>
            <!-- /.section-header -->

            <div class="communication__content">

                <div class="communication__contact">

                    <div class="communication__item">
                        <h4 class="communication__title">our address</h4>
                        <address class="communication__address">
                            House #13, Streat road, Sydney</br>
                            2310 Australia
                        </address>
                    </div>

                    <div class="communication__item">
                        <h4 class="communication__title">call us</h4>
                        <a class="communication__link" href="tel:+12324435">+ 880 168 109 1425</a>
                        <a class="communication__link" href="tel:+1213444">+ 0216809142</a>
                    </div>

                    <div class="communication__item">
                        <h4 class="communication__title">email us</h4>
                        <a class="communication__link" href="mailto:contactus@email.com">contactus@email.com</a>
                    </div>

                </div>
                <!-- /.communication__contact -->

                <div class="communication__form">

                    <form class="form" action="/" method="POST">
                        <input class="form__field" id="form__name" name="form__name" type="name" placeholder="Name">
                        <input class="form__field" id="form__email" name="form__email" type="email" placeholder="Email">
                        <input class="form__field" id="form__text" name="form__text" type="text" placeholder="Subject">
                        <textarea class="form__field form__field_textarea" id="form__textarea" name="form__textarea" placeholder="Message"></textarea>
                    </form>
                    <!-- /.form -->

                    <button class="btn btn--size_sm btn--style_red" type="button">send message</button>

                </div>
                <!-- /.communication__form -->

            </div>
            <!-- /.contact__content -->

        </div>
        <!-- /.contact__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.contact -->