<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="logo">
                <div class="logo__left">
                   B
                </div>
                <div class="logo__right">
                    ino
                </div>

            </div>

            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Portfolio</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Pricing</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Team</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Blog</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- /.header__inner -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header-->