<section class="portfolio">
    <div class="container">
        <div class="portfolio__inner">

            <div class="section-header">
                <h2 class="section-title section-title--color_black">RECENT WORKS</h2>
                <div class="section-subtitle">It has survived not only five centuries, but also the leap scrambled it to
                    make a type.</div>
                <div class="design-element design-element--color_gray"></div>
            </div>
            <!-- /.section-header -->

            <div class="portfolio__nav">
                <a href="#" class="portfolio__nav-link">all</a>
                <a href="#" class="portfolio__nav-link">print design</a>
                <a href="#" class="portfolio__nav-link">animation</a>
                <a href="#" class="portfolio__nav-link">art</a>
                <a href="#" class="portfolio__nav-link">web design</a>
                <a href="#" class="portfolio__nav-link">photography</a>
                <a href="#" class="portfolio__nav-link">video</a>
            </div>

        </div>
        <!-- /.portfolio__inner -->
    </div>
    <!-- /.container -->

    <div class="works">

        <div class="works__item">
            <img src="img/portfolio/1.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/2.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/3.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/4.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/5.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/6.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/7.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

        <div class="works__item">
            <img src="img/portfolio/8.jpg" alt="123" class="works__img img">
            <div class="works__content">
                <h5 class="works__title">T-SHIRT DESIGN</h5>
                <div class="works__tag">art / t-shirt</div>
            </div>
        </div>
        <!-- /.works__item -->

    </div>
    <!-- /.works -->

</section>
<!-- /.portfolio -->