<section class="pricing">
    <div class="container">
        <div class="pricing__inner">

            <div class="section-header">
                <h2 class="section-title section-title--color_black">our pricing</h2>
                <div class="section-subtitle">A 30 days free trial for all. A brief story about how this process works,
                    keep an eye till the end.</div>
                <div class="design-element design-element--color_gray"></div>
            </div>
            <!-- /.section-header -->

            <div class="pricing__content">

                <div class="pricing__item">
                    <div class="pricing__item-header">
                        <h5 class="pricing__title">Starter</h5>
                    </div>
                    <div class="pricing__item-body">
                        <div class="pricing__price">
                            <div class="pricing__price-title">$19</div>
                            <div class="pricing__price-subtitle">per mounth</div>
                        </div>
                        <ul class="pricing__list">
                            <li class="pricing__list-item">Competition Analysis Methods</li>
                            <li class="pricing__list-item">All Ranked URLs</li>
                            <li class="pricing__list-item">International Support System</li>
                            <li class="pricing__list-item">Social Media Tracking</li>
                        </ul>
                        <button class="btn btn--size_sm btn--style_red" type="button">choose plan</button>
                    </div>
                </div>
                <!-- /.pricing__item -->

                <div class="pricing__item">
                    <div class="pricing__item-header">
                        <h5 class="pricing__title">Premium</h5>
                    </div>
                    <div class="pricing__item-body">
                        <div class="pricing__price">
                            <div class="pricing__price-title">$39</div>
                            <div class="pricing__price-subtitle">per mounth</div>
                        </div>
                        <ul class="pricing__list">
                            <li class="pricing__list-item">Competition Analysis Methods</li>
                            <li class="pricing__list-item">All Ranked URLs</li>
                            <li class="pricing__list-item">International Support System</li>
                            <li class="pricing__list-item">Social Media Tracking</li>
                        </ul>
                        <button class="btn btn--size_sm btn--style_red" type="button">choose plan</button>
                    </div>
                </div>
                <!-- /.pricing__item -->

                <div class="pricing__item">
                    <div class="pricing__item-header">
                        <h5 class="pricing__title">Business</h5>
                    </div>
                    <div class="pricing__item-body">
                        <div class="pricing__price">
                            <div class="pricing__price-title">$99</div>
                            <div class="pricing__price-subtitle">per mounth</div>
                        </div>
                        <ul class="pricing__list">
                            <li class="pricing__list-item">Competition Analysis Methods</li>
                            <li class="pricing__list-item">All Ranked URLs</li>
                            <li class="pricing__list-item">International Support System</li>
                            <li class="pricing__list-item">Social Media Tracking</li>
                        </ul>
                        <button class="btn btn--size_sm btn--style_red" type="button">choose plan</button>
                    </div>
                </div>
                <!-- /.pricing__item -->

            </div>
            <!-- /.pricing__content -->

        </div>
        <!-- /.pricing__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.pricing -->