<section class="section__services">
    <!-- <div class="container"> -->
        <div class="services__inner">

            <div class="services__content">
                <h3 class="section-title section-title--color_white section-title--decoration_right">Our services</h3>

                <div class="services__item">
                    <h4 class="services__title">Web design</h4>
                    <div class="services__text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ip sum has been the industry's standard dummy text ever.</p>
                    </div>
                    <div class="services__icon-block">
                        <svg class="services__icon">
                            <use xlink:href="#services-monitor"></use>
                        </svg>
                    </div>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <h4 class="services__title">Print design</h4>
                    <div class="services__text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ip sum has been the industry's standard dummy text ever.</p>
                    </div>
                    <div class="services__icon-block">
                        <svg class="services__icon">
                            <use xlink:href="#services-print"></use>
                        </svg>
                    </div>
                </div>
                <!-- /.services__item -->

                <div class="services__item">
                    <h4 class="services__title">Photography</h4>
                    <div class="services__text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever.</p>
                    </div>
                    <div class="services__icon-block">
                        <svg class="services__icon">
                            <use xlink:href="#services-camera"></use>
                        </svg>
                    </div>
                </div>
                <!-- /.services__item -->

            </div>
            <!-- /.services__content -->

            <div class="services__picture">
                <img class="img" src="img/services/services-1.jpg" alt="123">
            </div>
            <!-- /.services__picture -->

        </div>
        <!-- /.services__inner -->
    <!-- </div> -->
    <!-- /.container -->
</section>
<!-- /.section__services -->