<section class="statistics">
    <div class="container">
        <div class="statistics__inner">

            <div class="statistics__item">
                <div class="statistics__picture">
                    <svg class="statistics__icon">
                        <use xlink:href="#who-lightbulb"></use>
                    </svg>
                </div>
                <div class="statistics__count">3891</div>
                <div class="statistics__title">User favorites</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item">
                <div class="statistics__picture">
                    <svg class="statistics__icon">
                        <use xlink:href="#who-lightbulb"></use>
                    </svg>
                </div>
                <div class="statistics__count">286k</div>
                <div class="statistics__title">Posts last 24 hours</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item">
                <div class="statistics__picture">
                    <svg class="statistics__icon">
                        <use xlink:href="#who-lightbulb"></use>
                    </svg>
                </div>
                <div class="statistics__count">618</div>
                <div class="statistics__title">total posts</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item">
                <div class="statistics__picture">
                    <svg class="statistics__icon">
                        <use xlink:href="#who-lightbulb"></use>
                    </svg>
                </div>
                <div class="statistics__count">178</div>
                <div class="statistics__title">campaings</div>
            </div>
            <!-- /.statistics__item -->

            <div class="statistics__item">
                <div class="statistics__picture">
                    <svg class="statistics__icon">
                        <use xlink:href="#who-lightbulb"></use>
                    </svg>
                </div>
                <div class="statistics__count">285</div>
                <div class="statistics__title">amazing features</div>
            </div>
            <!-- /.statistics__item -->
        </div>
        <!-- /.statistics__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.statistics -->