<section class="who">
    <div class="container">
        <div class="who__inner">

            <div class="who__item">
                <div class="who__squere">
                    <svg class="who__icon">
                        <use xlink:href="#who-glasses"></use>
                    </svg>
                </div>
                <h5 class="who__title">SLEEK DESIGN</h5>
                <div class="who__text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <!-- /.who__item -->

            <div class="who__item">
                <div class="who__squere">
                    <svg class="who__icon">
                        <use xlink:href="#who-heart"></use>
                    </svg>
                </div>
                <h5 class="who__title">CLEAN CODE</h5>
                <div class="who__text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <!-- /.who__item -->

            <div class="who__item">
                <div class="who__squere">
                    <svg class="who__icon">
                        <use xlink:href="#who-lightbulb"></use>
                    </svg>
                </div>
                <h5 class="who__title">CREATIVE IDEAS</h5>
                <div class="who__text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <!-- /.who__item -->

            <div class="who__item">
                <div class="who__squere">
                    <svg class="who__icon">
                        <use xlink:href="#who-chat"></use>
                    </svg>
                </div>
                <h5 class="who__title">FREE SUPPORT</h5>
                <div class="who__text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
                </div>
            </div>
            <!-- /.who__item -->

        </div>
        <!-- /.who__inner -->
    </div>
    <!-- /.container -->
</section>
<!-- /.who-->